.nav-link{
    font-family: 'Poppins', sans-serif;
    color:#707070 !important;
}

.bg-img-1{
    height: 370px;

}
.carousel-indicators .active {
    width: 45px;
    height: 12px;
    margin: 10px;
    background-color: #ff9c35 !important;
}
.carousel-item{
    background-color: gainsboro;
    border-radius: 12px;
    padding: 20px 40px;
}